extends layout

block content
  h2= title
  - var icecream=results
  div(class="container-fluid")
    div(class="row")
        each i,index  in icecream
            div(class="col-sm-2" onclick =`buy(${index})`)
                p IcecreamName: #{i.icecream_flavour}, 
                p IcecreamSize: #{i.icecream_size}, 
                p IcecreamCost: #{i.icecream_cost}
  script.
    function buy(g)
    {
        alert(`You bought an Icecream ${g+1}`)
    }
        